# Node.js
node_modules/
.env*
*.env
*.local
*.log
tsconfig.tsbuildinfo
dist/


# Docker
*.tar
*.pid

# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Kubernetes secrets
**/*-secret.yaml
**/*-secrets.yaml
